
.container-fluid {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, #0f0c29, #302b63, #24243e);
  }
  .row{
    width: 80%;
    height: 60%;
    background-image: linear-gradient(to bottom right, #0f0c29, #302b63, #24243e);
  }

  .otp-div{
    background-color: white;
    margin-top: 50px;
    border-radius: 15px;
    color: rgb(194, 192, 192);
  }

  .otp-heading{
    font-size: xx-large;
font-family: Georgia, 'Times New Roman', Times, serif;

  }
  mat-form-field {
    width: 25%;    
  }

  .submit-btn button{
    margin-top: 40px;
    width: 200px;
    height: 50px;
    border-radius: 15px;
}