
.container-fluid {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, #0f0c29, #302b63, #24243e);
  }
  .row{
    width: 80%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #0f0c29, #302b63, #24243e);
  }

  .signup-div{
    background-color: white;
    margin-top: 50px;
    border-radius: 15px;
    color: rgb(194, 192, 192);
  }
  .signup-heading{
    font-size: xx-large;

font-family: Georgia, 'Times New Roman', Times, serif;
  }

.name-class{
width: 50%;
}


.pass-class{
display: block;
}
