

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    background-color: rgb(150, 150, 150);
}
.img-container{
height: 100%;
width: 60%;
background-image: url('./../../../assets/background-images/young-handsome-male-freelancer-talks-via-mobile-phone-has-cheerful-expression-enjoys-mobile-tariffs-connection.jpg');
background-position: center;
background-size: cover;

}
.right-side-part{
    background-color: rgb(217,217,217);
    width: 40%;
    height: 100%;

}

.login-header-part{
    background-color: rgb(217,217,217);
    width: 100%;
    height: 12.5rem;
    display: flex;
    justify-content: center;

}
.login-header-part img{
    width: 282px;
    height: 200px;
}
.form-div-part{
    background-color: rgb(217,217,217);
    height: 350px;
    display: flex;
    justify-content: center;

}

mat-form-field{
    width:500px;
}
.email-area{
    margin-top: 5px;
}
.forgot-password{
  margin-top:15px;
  float: right;

  
}
.forgot-password a{
  text-decoration: none;
  color: grey;

}
.login-button button{
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
}

.button-area{
  display: flex;
  justify-content: center;
}
/* .footer-area{
  background-color: rgb(252, 252, 252);
  width: 50%;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  border-radius: 15px;
  
} */
#gBtn{
  width: 40px;
}
.footer-area{
background-color: rgb(217,217,217);
text-align: center;
margin-left:154px;
/* margin-left: -108px; */
margin-top: 30px;
display: inline-block;
}