<div class="main">

    <div class="user-photo-section" style="text-align: center;" >
        <div class="photo">
            <img  src="/assets/users-photo/fotor-ai-20240110113543.jpg" alt="">
            <p >YOU</p>
        </div>
    </div>
    <div class="gender-selection-area">
        <div class="title">
            <h1 >SELECT GENDER</h1>
        </div>
        <div class="genders container">
              <mat-radio-group color="primary" aria-label="Select an option">
            <div class="row">

   <div class="male col-4 ">
       <img style="width: 45%;"  src="/assets/users-photo/vecteezy_male-3d-avatar_27245518.png" alt="">
       <br>
       <mat-radio-button value="1">Male</mat-radio-button>
            </div>
            <div class="female col-4">
                <img style="width: 45%;" src="/assets/users-photo/vecteezy_female-3d-avatar_27245496.png" alt=""><br>
                <mat-radio-button value="2">Female</mat-radio-button>
            </div>
            <div class="any col-4">
                <img style="width: 45%;"  src="/assets/users-photo/vecteezy_male-3d-avatar_27245518.png" alt="">
                <img style="width: 45%;" src="/assets/users-photo/vecteezy_female-3d-avatar_27245496.png" alt="">
                <mat-radio-button value="1">Any</mat-radio-button>
            </div>
        </div>
    </mat-radio-group>
            
        </div>
        <button class="mt-5 connect-button" mat-raised-button  color="primary" >Connect</button>
    </div>

</div>

        
