
<div class="container-fluid">

    <div class="row mx-auto justify-content-center ">

        <div class="col-12 login-div">
          
            <mat-card class="login-card mx-auto mt-5 justify-content-center ">
                <div>
                    <h2 class="p-3 text-center" >Enter your registered email</h2>
                </div>
                <form  [formGroup]="resetPasswordFormControl" (ngSubmit)="onSubmitForm()">
                        
                    <div class="form-area ">
                        <mat-form-field color="primary"  appearance="outline">
                            <mat-label>Password</mat-label>
                                <input type="password"  matInput formControlName="password">
                                <mat-error  *ngIf="resetPasswordFormControl.get('password')?.hasError('required')">Password is <strong>required</strong></mat-error>
                                <mat-error *ngIf="resetPasswordFormControl.get('password')?.hasError('minlength')"> Password must be at least 8 characters long</mat-error>
                                <mat-error *ngIf="resetPasswordFormControl.get('password')?.hasError('pattern')">   Password must include lowercase, uppercase, digit, and special character.</mat-error>
                        </mat-form-field>
                        <mat-form-field color="primary" class="mt-4"  appearance="outline">
                            <mat-label>RenterdPassword</mat-label>
                                <input type="password"  matInput formControlName="renteredpassword" >
                                <mat-error *ngIf="resetPasswordFormControl.get('renteredpassword')?.value!==resetPasswordFormControl.get('password')?.value">Password is not same</mat-error>
                                <mat-error  *ngIf="resetPasswordFormControl.get('renteredpassword')?.hasError('required')">Password is <strong>required</strong></mat-error>
                                <mat-error *ngIf="resetPasswordFormControl.get('renteredpassword')?.hasError('minlength')"> Password must be at least 8 characters long</mat-error>
                                <mat-error *ngIf="resetPasswordFormControl.get('renteredpassword')?.hasError('pattern')">   Password must include lowercase, uppercase, digit, and special character.</mat-error>
                        </mat-form-field>
                </div>
                    <div class="button-area  text-center mt-5">
                        <div class="login-button">
                            <button mat-raised-button color [disabled]="!resetPasswordFormControl.valid"  color="primary">Submit</button>
                        </div>
                    </div>
                </form> 

              </mat-card>
        </div>
    
    </div>

</div>