<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">

      <button (click)="logout()" mat-raised-button color="primary" >
      Logout        
      </button>
    </mat-drawer>
    <div class="example-sidenav-content" >

        <h1 style="color: white;">Admin Home page</h1>
      <button type="button" mat-raised-button color="primary" (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container>