
<div class="container parent-div">

    <div class="row">
  <div class="left-section      col-sm-12  col-md-6 col-lg-5">
   <lottie-player src="https://lottie.host/3fa1f2d8-a3e0-4596-af5c-6f4f306770d5/5yrwk336DO.json" background="transparent" speed="2" style="width: 100%; height: auto" direction="1" mode="bounce" loop  autoplay></lottie-player>
    </div>
    <div class="right-section col-12 col-sm-12 col-md-6  col-lg-7">

        <div class="login-title">
            <p>LOGIN</p>
        </div>
        <div class="user-credential">
            <form  [formGroup]="loginFormControl" (ngSubmit)="onSubmitLoginForm()">
               <div class="email">
       <mat-form-field  color="primary" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email" placeholder="abc@gmail.com">
                        <mat-error  *ngIf="loginFormControl.get('email')?.hasError('email') &&
                        !loginFormControl.get('Email')?.hasError('required')">Please enter a valid email address </mat-error>
                       <mat-error *ngIf="loginFormControl.get('email')?.hasError('required')" >Email is <strong>Required</strong></mat-error>
    
                    </mat-form-field>
        </div>
        <div class="password">
                <mat-form-field color="primary"  appearance="outline">
                        <mat-label>Password</mat-label>
                            <input  type="password"  matInput formControlName="password">
                            <mat-error  *ngIf="loginFormControl.get('password')?.hasError('required')">Password is <strong>required</strong></mat-error>
                            <mat-error *ngIf="loginFormControl.get('password')?.hasError('minlength')"> Password must be at least 8 characters long</mat-error>
                            <mat-error *ngIf="loginFormControl.get('password')?.hasError('pattern')">   Password must include lowercase, uppercase, digit, and special character.</mat-error>
                    </mat-form-field>
        </div>
        <div class="login-button">
  <button mat-raised-button color="primary" [disabled]="!loginFormControl.valid" >Login</button>

        </div>
        </form>

        </div>

      <div class="forgot-password">
                <a [routerLink]="'/send_email'" >forgotpassword?</a>
            </div>
      <div class="signup">
                <a routerLink="/signup">Signup</a>
            </div>
          

    </div>

    </div>
  

</div>



