

*{
  font-family: monospace;
  color:purple
}

.left-section {
box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.1);

}

.right-section {
box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



}
.parent-div{
  margin-top: 100px;
  height: auto;
  background-color: white;
  border-radius: 5px;

    border-color: purple;
    box-shadow: 1px 1px 10px ;
}

 @media (max-width: 576px) {

        .parent-div{
          width: 80%;
        }
        .left-section{
          display: none;
        }
    }

    .login-title{
      text-align: center;
      margin-top: 20px;
      font-size: 30px;  
      font-weight: bolder;

        }

        .user-credential{
          margin-top: 40px;
        }

      .email,.password,.login-button{
        margin-bottom: 40px;

      }

      mat-form-field{
        width: 300px;
      }
      mat-error{
        font-size: 10px;
        width: 300px;
      }


    .forgot-password,
.signup {
  margin-top: 20px; /* Adjust as needed */
  text-align: center;
  width: 100%;
}



.forgot-password {
  float: left;
}

.signup {
  float: right;
}

a{
  text-decoration: none;
  color: purple;
}

.login-button{
text-align: center;
}